* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#prev::before {
    content: '\00AB';
    font-size: 20px;
}

#next::before {
    content: '\00BB';
    font-size: 20px;
}

#prev,
#next {
    background: none;
    border: none;
    cursor: pointer;
}

.month-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h1 {
    margin: 0 20px;
    text-transform: capitalize;
}

.month-list {
    text-align: center;
}

ul {
    list-style: none;
}

.holiday {
    color: crimson;
}